snippet ita "Italic text"
*${1:Italic text}*
endsnippet
	
snippet bold "Bold text"
**${1:Bold text}**
endsnippet

snippet boldita "Bold italic text"
***${1:Bold italic text}***
endsnippet
	
snippet del "Delete line"
~~${1:Delete text}~~
endsnippet

snippet footnote "Footnote"
[^${1:Footnote text}
endsnippet

snippet underl "Underline"
<u>${1:Underline text}</u>
endsnippet
	
snippet today "Date"
`date +%F`
endsnippet	
	
snippet code "Code Block"
\`\`\`${1}
${2:content}
\`\`\`
endsnippet
	
