snippet i "Italic text"
*${1:Italic text}*
endsnippet
	
snippet b "Bold text"
**${1:Bold text}**
endsnippet

snippet bi "Bold italic text"
***${1:Bold italic text}***
endsnippet
	
snippet d "Delete line"
~~${1:Delete text}~~
endsnippet

snippet footnote "Footnote"
[^${1:Footnote text}
endsnippet

snippet ul "Underline"
<u>${1:Underline text}</u>
endsnippet
	
snippet today "Date"
`date +%F`
endsnippet	
	
snippet cd "Code Block"
\`\`\`${1}
${2:content}
\`\`\`
endsnippet
	
