snippet main "__name__ == '__main__'"
def ${1:main(object)}:
	${2:code}


if __name__ == '__main__':
	$1
endsnippet

snippet for "for . in ."
for ${1:i} in $2:
	$3
endsnippet
	
snippet with "with function as ..."
with ${1:main} as ${2:name}:
	$2
endsnippet
	
snippet open "open(file, mode, encod..)"
open("${1:file}", mode="${2:r}", encoding="${3:UTF-8}")
endsnippet

snippet if "if condition: ..."
if ${1:true}:
	$0
endsnippet
